.Footer {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-top: 2em;
  background-color: #38bdf8;
  color: #fff;
  margin-top: auto;
}
